.app {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100vw;
    max-height: 100vh;
    overflow  : hidden;

    display        : flex;
    justify-content: center;
    box-sizing     : border-box;
    padding        : 32px;
}

.container {
    width   : 1280px;
    //height: 100%;

    display       : flex;
    flex-direction: column;
}

.msgBox {
    width       : 100%;
    flex-grow   : 1;
    //height    : 100%;
    //height    : calc(90vh - 100px);
    overflow-y  : scroll;
}

.input {
    box-sizing: border-box;
    margin-top: 16px;
    flex-grow : 1;

    textarea {
        //height    : 180px;
        background: rgba(0, 0, 0, 0.05);
    }

}